<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/admin.css' />
    <script src='/javascripts/jquery.min.js'></script>
  </head>
  <body>
<!--     <h1><%= title %></h1>
    <p>Welcome to <%= title %></p> -->
 	<div class="menu_box">
		<div class="logo"><img src="/images/topLogo.png" alt=""></div>
		<ul class="menu">
			<li><a href=""><img src="/images/topmune_09.png" alt=""><span>更多模板堂产品</span></a></li>
			<li><a href=""><img src="/images/topmune_01.png" alt=""><span>开店向导</span></a></li>
			<li><a href=""><img src="/images/topmune_02.png" alt=""><span>记事本</span></a></li>
			<li><a href=""><img src="/images/topmune_03.png" alt=""><span>刷新</span></a></li>
			<li><a href=""><img src="/images/topmune_04.png" alt=""><span>个人设置</span></a></li>
			<li><a href=""><img src="/images/topmune_05.png" alt=""><span>管理员留言</span></a></li>
			<li><a href=""><img src="/images/topmune_06.png" alt=""><span>查看网店</span></a></li>
			<li><a href=""><img src="/images/topmune_07.png" alt=""><span>帮助</span></a></li>
			<li><a href=""><img src="/images/topmune_08.png" alt=""><span>关于ECSHOP</span></a></li>
			<li><a href=""><img src="/images/qingchu.png" alt=""><span>清除缓存</span></a></li>
			<li><a href=""><img src="/images/topmune_08.png" alt=""><span>退出</span></a></li>
		</ul>
 	</div>
 	<div class="nav_box">
		<a href=""><img src="/images/index01.png" alt=""><span>起始页啊</span></a>
		<a href=""><img src="/images/index02.png" alt=""><span>设置导航栏</span></a>
		<a href=""><img src="/images/index03.png" alt=""><span>商品管理</span><i>0</i></a>
		<a href=""><img src="/images/index04.png" alt=""><span>订单管理</span><i>0</i></a>
		<a href=""><img src="/images/index05.png" alt=""><span>广告管理</span><i>0</i></a>
		<a href=""><img src="/images/index06.png" alt=""><span>用户评论</span><i>0</i></a>
		<a href=""><span>用户评论</span></a>
		<a href=""><span>商品列表</span></a>
		<a href=""><span>会员列表</span></a>
		<a href=""><span>商店设置</span></a>
		<a href=""><span>移动版</span></a>
		<a href=""><span>服务市场</span></a>
 	</div>
	<ul class="sidebar">
		<li>商品管理
			<ul>
				<li><a target="main-content" href="/admin/goods" class="move">商品列表</a></li>
				<li><a target="main-content" href="/admin/goods_add" class="move">添加商品</a></li>
			</ul>
		</li>
		<li>促销管理</li>
		<li>订单管理</li>
		<li>广告管理</li>
		<li>报表统计</li>
		<li>文章管理</li>
		<li>会员管理</li>
		<li>权限管理</li>
		<li>系统设置</li>
		<li>模板管理</li>
		<li>数据库管理</li>
		<li>短信管理</li>
		<li>推荐管理</li>
		<li>邮件群发管理</li>
		<li>移动版管理</li>
		<li>模板知识库</li>
	</ul>
	<iframe src="" class="main" name="main-content"></iframe>
  </body>
</html>
<script src='/javascripts/public.js '></script>
