<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/goods.css">
    <script src='/javascripts/jquery.min.js'></script>
  </head>
  <body>
	<div class="main">
		<h1>
			<a href="" class="goods">＋新商品</a>
			<a href="">ECSHOP管理中心</a>
			<a href="">-商品列表</a>
			<img src="/images/jnsy.png" alt="">
		</h1>
		<div class="search">
			<select name="" id=""><option value="">所有分类</option></select>
			<select name="" id=""><option value="">所有品牌</option></select>
			<select name="" id=""><option value="">全部</option></select>
			<select name="" id=""><option value="">全部</option></select>
			<label for="">关键字<input type="text" id="text_search"></label>
			<button id="btn_search">搜索</button>
		</div>
		<table>
			<thead>
				<tr>
					<th><input type="checkbox">编号</th>
					<th>商品名称</th>
					<th>货号</th>
					<th>价格</th>
					<th>上架</th>
					<th>精品</th>
					<th>新品</th>
					<th>热销</th>
					<th>推荐排序</th>
					<th>库存</th>
					<th>虚拟销量</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr class="liangchen">
					<td><input type="checkbox">255</td>
					<td>金刚钻</td>
					<td>123456</td>
					<td>99999999.00</td>
					<td><img src="/images/yes.gif" alt=""></td>
					<td><img src="/images/yes.gif" alt=""></td>
					<td><img src="/images/yes.gif" alt=""></td>
					<td><img src="/images/yes.gif" alt=""></td>
					<td>100</td>
					<td>1</td>
					<td>0</td>
					<td>
						<a href=""><img src="/images/icon_view.gif" alt=""></a>
						<a href=""><img src="/images/icon_edit.gif" alt=""></a>
						<a href=""><img src="/images/icon_copy.gif" alt=""></a>
						<a href=""><img src="/images/icon_trash.gif" alt="" class="del"></a>
					</td>
				</tr>
			</tbody>
		</table>
		<p class="pages">
			共<span id="pages01"></span>个商品
			分<span id="pages02"></span>页显示
			<span id="pages03">上一页</span>
			<span id="pages04">下一页</span>
			第<input type="" name="" id="pages05">页
		</p>
	</div>
  </body>
</html>
<script src='/javascripts/public.js '></script>
<script type="text/javascript">
	console.log(<%= title %>)
</script>