<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/goods_add.css">
    <script src='/javascripts/jquery.min.js'></script>
  </head>
  <body>
	<div class="main">
		<h1>
			<a href="" class="goods">＋商品列表</a>
			<a href="">ECSHOP管理中心</a>
			<a href="">-添加新商品</a>
			<img src="/images/jnsy.png" alt="">
		</h1>
		<ul class="form_control">
			<li>通用信息</li>
			<li>详细描述</li>
			<li>其他信息</li>
			<li>商品属性</li>
			<li>商品相册</li>
			<li>关联商品</li>
			<li>配件</li>
			<li>关联文章</li>
		</ul>
		<form action="/api/goods_add" method="post" enctype="multipart/form-data">
			<label for=""><span>商品名称：</span><input type="text" name="goods_name"></label>
			<label for=""><span>商品价格：</span><input type="text" name="price"></label>
			<label for=""><span>商品图片：</span><input type="file" name="imgs"></label>
			<div>
				<span>商品详情：</span><br>
				<textarea name="detail" id="" cols="30" rows="5"></textarea>
			</div>
			<button type="submit">上传</button>
		</form>
	</div>
  </body>
</html>
<script src='/javascripts/public.js '></script>