body,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,pre,form,fieldset,legend,input,button,textarea,p,blockquote,table,th,td,menu{margin: 0;padding: 0;} 
span,i,em,u,strong,b,p,img,ul,li,div,dd,dt,dl,ol,table,th,td,h1,h2,h3,h4,h5,h6,input,textarea,button,small,select{cursor: pointer;} 
h1,h2,h3,h4,h5,h6,input,textarea,select,address,caption,cite,code,dfn,em,i,b,strong,small,th,var,abbr{font-style:normal;font-weight:normal;}
a{text-decoration: none;color: #000000;display: inline-block;}
address, cite, dfn, em, var,i{font-style: normal;}
article,aside,footer,header,hgroup,nav,section,figure,figcaption{display: block;}
body{font: 14px "微软雅黑";    font: 12px Microsoft Yahei, "sans-serif", "Arial", "Verdana";background: #303030;}
fieldset,img{border: 0;}
menu,ol,ul,li{list-style: none;}
*{  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
table{border-collapse:collapse;border-spacing:0;}
/*:after{content:"";display:block;height:0;clear:both;overflow:hidden;visibility:hidden;}*/

body{
	display: block;
	border: 0 none;
	height: 560px;
	min-width: 1080px;
	overflow: auto;
	background: url(/images/body_bj.jpg) repeat;

}
h1{
	border-bottom: 1px solid #ccc;
	height: 26px;
	width: 1000px;
	padding: 3px 0;
	margin: 0 auto;
}
h1>a{
	display: inline-block;
	vertical-align: top;
	font: normal normal normal 20px/26px "";
}
h1>img{
	display:inline-block;
	vertical-align: top;
}
h1>.goods{
	float: right;
	color: #fff;
	width: 85px;
	font: 16px/26px "";
	background: rgb(196,57,38);
	text-align: center;
}
/*表单头部样式*/
.form_control{
	width: 1000px;
	height: 39px;
	margin: 0 auto;
}
.form_control li{
	float: left;
	width: 88px;
	height: 39px;
	font: 12px/39px  "";
	text-align: center;
}
.form_control .form_control_active{
	background: #fff;
}
/*表单样式*/
.form{
	width: 1000px;
	background: #fff;
	margin: 0 auto;
	padding-bottom: 50px;
}
.form label{
	display: block;
	padding: 10px 0;
}
.form span{
	display: inline-block;
	width: 400px;
	text-align: right;
	vertical-align: top;
}
.form div textarea{
	display: block;
	margin-left: 400px;
	/*margin: 0 auto;*/
}
.form button{
	display: block;
	margin: 50px auto;
	color: #fff;
	border-radius: 3px;
	font: 16px/27px "";
	width: 82px;
	height: 27px;
	border: 0 none;
	background: #ff3f3f;
}