body,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,pre,form,fieldset,legend,input,button,textarea,p,blockquote,table,th,td,menu{margin: 0;padding: 0;} 
span,i,em,u,strong,b,p,img,ul,li,div,dd,dt,dl,ol,table,th,td,h1,h2,h3,h4,h5,h6,input,textarea,button,small,select{cursor: pointer;} 
h1,h2,h3,h4,h5,h6,input,textarea,select,address,caption,cite,code,dfn,em,i,b,strong,small,th,var,abbr{font-style:normal;font-weight:normal;}
a{text-decoration: none;color: #000000;display: inline-block;}
address, cite, dfn, em, var,i{font-style: normal;}
article,aside,footer,header,hgroup,nav,section,figure,figcaption{display: block;}
body{font: 14px "微软雅黑";    font: 12px Microsoft Yahei, "sans-serif", "Arial", "Verdana";background: #303030;}
html,body{width:100%;height: 100%;}
fieldset,img{border: 0;}
menu,ol,ul,li{list-style: none;}
*{  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
table{border-collapse:collapse;border-spacing:0;}
/*:after{content:"";display:block;height:0;clear:both;overflow:hidden;visibility:hidden;}*/
body{
	background: url(/images/ecshop-bg.png) no-repeat center center/cover;
}
.login{
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 2;
    width: 302px;
    height: 321px;
    background: rgba(255,255,255,.85) url(/images/icloud-bar.png) no-repeat center bottom;
    border: none;
    border-radius: 0;
    color: #A1A1A1;
    padding: 50px 70px 0;
    overflow: hidden;
    box-shadow: 5px 2px 20px rgba(0,0,0,.3);
    height: 322px;
    transform: translateX(-50%) translateY(-50%);
}
.login label{
	position: relative;
	display: block;
	width: 300px;
	height: 50px;
}
.login label i{
	position: absolute;
	top: 15px;
	left: 15px;
	width: 20px;
	height:20px;
	z-index: 10;
}
.login label input{
	display: block;
	width: 300px;
	height: 50px;
	border: 0 none;
	outline: 0 none;
	border-radius: 3px;
	margin: 2px auto;
	text-indent: 40px;
}
.login label:nth-child(4){
	margin: 20px 0 10px;
}
.login label:nth-child(3){
	position: relative;
}
.login label:nth-child(3) span{
	display: block;
	width: 106px;
	height: 36px;
	position: absolute;
	font: 36px/36px "";
	color: black;
	text-align: center;
	background: url(/images/index.png) no-repeat center center/cover;
	right: 0;
	top: 7px;
	z-index: 10;
}
.login div a{
	margin-left: 30px;
}
#btn{
	text-indent: 0;
    color: #FFF;
    border-radius: 4px;
    letter-spacing: 4px;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    background-color: #fc7878;
}
.logo01{
	position: absolute;
	top: 0;
	left: 0;
}
.logo02{
	position: absolute;
	top: 50px;
	left: 50%;
	width: 248px;
	height: 65px;
	transform: translateX(-50%);
}